configuration{
    modi: "run,combi,drun";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🖥️  All ";
    display-run: " 🏃  Run ";
    display-drun: " ⚙️ Apps ";
    sidebar-mode: true;
}

@theme "minty-brain"
